*.pem
hosts.ini
*.key
*.private
*.retry

terraform.tfstate
terraform.tfstate.backup
.terraform/
*.hcl
*.pem

terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
*.pem

